# tika server
TIKA_SERVER_URL=http://tika:9998
# google keys
GOOGLE_PSE_API_KEY=somekey
GOOGLE_PSE_CX=otherkey
# controll search engines
USE_GOOGLE_SEARCH=yes
USE_DUCKDUCKGO_SEARCH=no
USE_SEARXNG_SEARCH=yes
# searngx url
SEARXNG_URL=http://searxng:8080
# other settings
PAGE_FETCH_TIMEOUT=10
PAGE_MAX_CONTENT_LENGTH=50000
SEARXNG_TIMEOUT=30

