#### Qdrant ####
QDRANT_HOST=qdrant_master
QDRANT_PORT=6333
QDRANT_COLLECTION=testing

# embedding
EMBEDDING_MODEL_NAME=snowflake-embed-l-v2.0-GGUF

VECTOR_SIZE=1024
    # Snowflake Arctic embed -> 1024 dimensions
    # Qwen3-Embedding-0.6B-GGUF -> 1024
    # Qwen3-Embedding-4b-GGUF -> 2560

## chunking
MAX_CHUNK_SIZE=600  #tokens
MIN_CHUNK_SIZE=200
CHUNK_OVERLAP=100

# search limits (needs to be set, else qdrant defaults to 10)
SEARCH_LIMIT=5000

### MCP or openai
      # set to 'mcp' or 'openapi'
TRANSPORT_TYPE=openapi

# Sparse Vector Configuration
SPARSE_INDEX_SPACE=100000

#### Provider ####
# Set to "openai" for OpenAI-compatible services (like llama.cpp) or "ollama" for Ollama
PROVIDER=openai

# OpenAI-compatible settings (used when PROVIDER=openai)
OPENAI_API_KEY=your-openai-api-key-here
OPENAI_BASE_URL= # http(s)://ip_or_domain/v1
OPENAI_RETRIVAL_URL= # will fall back to base url if not set

# Ollama settings (used when PROVIDER=ollama)
OLLAMA_BASE_URL=http://ollama:11434  # Default Ollama API URL http://localhost:11434


#### Agents - deprecated ####
# API for agents (separate from embedding/retrieval)
LLM_API_KEY=your-openai-api-key-here

# local for testing
LLM_API_URL=
LLM_MODEL_NAME=gpt-oss-20b-Q8

# production
#LLM_API_URL=https://api.mistral.ai/v1/chat/completions
#LLM_MODEL_NAME=mistral-small-latest


APP_BASE_PATH=/app
